<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.security.spring" level="ERROR"/>

        <appender name="secureLog" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>team-logs.nais-system:5170</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
                <includeContext>false</includeContext>
            </encoder>
        </appender>

        <logger name="secureLog" level="DEBUG" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="org" level="INFO"/>
        <logger name="com" level="INFO"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="ERROR"/>

        <logger name="secureLog" level="DEBUG" additivity="false">
            <appender-ref ref="stdout_json"/>
        </logger>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="no.nav" level="DEBUG"/>
    </springProfile>

</configuration>