<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.security.spring" level="ERROR"/>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="org" level="INFO"/>
        <logger name="com" level="INFO"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="DEBUG"/>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="no.nav" level="DEBUG"/>
    </springProfile>

</configuration>