<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>
        <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %level] %logger{15} : %mdc - %m%n%xEx</pattern>
            </layout>
            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>eessi-pensjon-frontend-api-fss</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="auditLogger" additivity="false">
            <appender-ref ref="auditLogger" />
        </logger>

        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.security.spring" level="ERROR"/>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>
        <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %level] %logger{15} : %mdc - %m%n%xEx</pattern>
            </layout>
            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>eessi-pensjon-frontend-api-fss</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="auditLogger" additivity="false">
            <appender-ref ref="auditLogger" />
        </logger>

        <logger name="org" level="INFO"/>
        <logger name="com" level="INFO"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.security" level="ERROR"/>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="no.nav" level="DEBUG"/>
    </springProfile>

</configuration>