<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{dd-MM-yyyy HH:mm:ss.SSS}) %highlight(%-5level) %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="auditLogger" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%boldMagenta(%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}) %highlight(%level)] %red(%logger{20}) : %mdc - %m%n%xEx</pattern>
        </encoder>
    </appender>

    <logger name="io" level="INFO"/>
    <logger name="org" level="INFO"/>
    <logger name="com" level="INFO"/>
    <logger name="kafka" level="WARN" />
    <logger name="org.apache.zookeeper" level="WARN" />
    <logger name="no.nav" level="DEBUG"/>
    <logger name="no.nav.security" level="DEBUG"/>
    <logger name="no.nav.eessi" level="DEBUG"/>
    <logger name="auditLogger" level="INFO" additivity="false">
        <appender-ref ref="auditLogger" />
    </logger>
    <root level="DEBUG">
        <appender-ref ref="stdout" />
    </root>

</configuration>
